body {
    background: #0d0d0d;
    color: white;
    font-family: 'Instrument Sans', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

h1{
font-family: 'Lalezar', cursive;
}


ul,
li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}